################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNet/HelloVisualBasic/bin/Debug/net5.0
/DotNet/HelloVisualBasic/obj
/DotNet/HelloWorld/.vscode
/DotNet/HelloWorld/bin/Debug/net5.0
/DotNet/HelloWorld/obj
/DotNet/KysyNimi/.vscode
/DotNet/KysyNimi/bin/Debug/net5.0
/DotNet/KysyNimi/obj
/DotNet/LukujenSumma/.vscode
/DotNet/LukujenSumma/bin/Debug/net5.0
/DotNet/LukujenSumma/obj
/DotNet/Muuttujat/.vscode
/DotNet/Muuttujat/obj
/DotNet/TiedostonLukujenSumma/bin/Debug/net5.0
/DotNet/TiedostonLukujenSumma/obj
/DotNet/ArvaaLukuPeli/.vscode
/DotNet/ArvaaLukuPeli/bin/Debug/net5.0
/DotNet/ArvaaLukuPeli/obj
/DotNet/AutoTesti/obj
/DotNet/Ohjelmalogiikkaa/.vscode
/DotNet/Ohjelmalogiikkaa/bin/Debug/net5.0
/DotNet/Ohjelmalogiikkaa/obj
/DotNet/OlioOhjelmointi/.vscode
/DotNet/OlioOhjelmointi/obj
/DotNet/OlioOhjelmointi2/.vs/OlioOhjelmointi2/v16
/DotNet/OlioOhjelmointi2/OlioOhjelmointi2/bin/Debug/net5.0
/DotNet/OlioOhjelmointi2/OlioOhjelmointi2/obj
/DotNet/AspNetMvcDemo/.vscode
/DotNet/AspNetMvcDemo/bin/Debug/net5.0
/DotNet/AspNetMvcDemo/obj
/DotNet/AspNetMvcDemo2/.vs/AspNetMvcDemo2
/DotNet/AspNetMvcDemo2/AspNetMvcDemo2/bin/Debug/net5.0
/DotNet/AspNetMvcDemo2/AspNetMvcDemo2/obj
/DotNet/OlioOhjelmointi2/.vs/OlioOhjelmointi2/DesignTimeBuild
/DotNet/StringBuilderDemo/.vs/StringBuilderDemo/v16
/DotNet/StringBuilderDemo/StringBuilderDemo/bin/Debug/net5.0
/DotNet/StringBuilderDemo/StringBuilderDemo/obj
/DotNet/GeneerisetTietotyypit/.vs/GeneerisetTietotyypit/v16
/DotNet/GeneerisetTietotyypit/GeneerisetTietotyypit/bin/Debug/net5.0
/DotNet/GeneerisetTietotyypit/GeneerisetTietotyypit/obj
/DotNet/StringBuilderDemo/.vs/StringBuilderDemo/DesignTimeBuild
/DotNet/GeneerisetTietotyypit/.vs/GeneerisetTietotyypit/DesignTimeBuild
/DotNet/Sanakirjat/.vs/Sanakirjat/v16
/DotNet/Sanakirjat/Sanakirjat/bin/Debug/net5.0
/DotNet/Sanakirjat/Sanakirjat/obj
/DotNet/Päivämäärät/.vs/Päivämäärät/v16
/DotNet/Päivämäärät/Päivämäärät/bin/Debug/net5.0
/DotNet/Päivämäärät/Päivämäärät/obj
/DotNet/Kulttuurit/.vs/Kulttuurit/v16
/DotNet/Kulttuurit/Kulttuurit/bin/Debug/net5.0
/DotNet/Kulttuurit/Kulttuurit/obj
/DotNet/Sanakirjat/.vs/Sanakirjat/DesignTimeBuild
DotNet/Päivämäärät/.vs/Päivämäärät/DesignTimeBuild/.dtbcache.v2
/DotNet/AdoNetDemo/.vs/AdoNetDemo/v16
/DotNet/AdoNetDemo/AdoNetDemo/bin/Debug/net5.0
/DotNet/AdoNetDemo/AdoNetDemo/obj
/DotNet/AdoNetDemo/.vs/AdoNetDemo/DesignTimeBuild
/DotNet/EntityFrameworkDemo/.vs/EntityFrameworkDemo/v16
/DotNet/EntityFrameworkDemo/EntityFrameworkDemo/bin/Debug/net5.0
/DotNet/EntityFrameworkDemo/EntityFrameworkDemo/obj
/DotNet/AspNetWebApiDemo/.vs/AspNetWebApiDemo
/DotNet/AspNetWebApiDemo/AspNetWebApiDemo/bin/Debug/net5.0
/DotNet/AspNetWebApiDemo/AspNetWebApiDemo/obj
