@{
    ViewData["Title"] = "Koodausohje";
}
<h1>@ViewData["Title"]</h1>

<p>Tässä ensin kiva kuva:</p>

<img src="~/tiedostot/Oikeustalo.jpg" style="width: 40%;" alt="Turun oikeustalo" />

<p>Tässä hiukan C#-koodia:</p>

<pre>
int a = 18;
int b = 6;
int c = a + b;
Console.WriteLine(c);
</pre>

<p>Lataa tarkempi <a href="~/tiedostot/Koodausohje.pdf">pdf-ohje</a>.</p>
