#laatikko1 {
    margin: 10px;
    width: 400px;
    height: 300px;
    background-color: cornflowerblue;
}

#laatikko2 {
    margin: 10px;
    width: 400px;
    height: 300px;
    background-color: firebrick;
}

/* 
@media screen and (min-width: 600px) {
    body {
        background-color: blue;
    }
} */
