#laatikko1 {
    margin: 10px;
    width: 400px;
    height: 300px;
    background-color: cornflowerblue;
}

#laatikko2 {
    margin: 10px;
    width: 400px;
    height: 300px;
    background-color: firebrick;
}

.flex-alue {
    display: flex;
}

@media screen and (max-width: 800px) {
    .flex-alue {
        flex-direction: column;
    }
}
